.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content {
  margin-top: 64px; /* Hauteur de la toolbar */
}
